@font-face {
  font-family: "kingthings_exeterregular";
  src: url("fonts/Kingthings_Exeter-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/Kingthings_Exeter-webfont.woff") format("woff"), url("fonts/Kingthings_Exeter-webfont.ttf") format("truetype"), url("fonts/Kingthings_Exeter-webfont.svg#kingthings_exeterregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*# sourceMappingURL=fonts.css.map */
