
*{
       font-family: kingthings_exeterregular, serif;
}
body {
    background-color: #e5d2a6;
}
h1{
    padding: 1rem 0 1rem 0;
}

footer{
    background-color:#050505;
    color:  #e5b000;
    padding: 1rem 0 1rem 0;
    bottom: 0;
    width:100%;
}

.navbar, a , .dropdown-menu .dropdown-item, div.dropdown-menu.show, .navbar-brand {
    background-color: #050505;
    color:  #e5b000;
    font-size: 1.75rem;
}
a:hover, .dropdown-menu .dropdown-item:hover {
    color: #FFD138;
}

a.text-muted{
    font-size: 1rem;
    background-color: #ffffff;
}

h1{
    font-size: 2rem;
}
.bg-img{
    background-image: url("../img/parchemin/img.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    color: #050505;
    background-color: transparent;
}

.modal-header, .modal-footer{
    border: transparent;
}

form input,.btn-login {
    background-color: #050505 !important;
    color:  #e5b000 !important;
}

.card-img, .card-img-top, .card-img-bottom{
    width: 65%;
    align-self: center;
}
.bg-gray-100{
    --bg-opacity: 0;
}

.img_profile_user{
    border-radius:50% ;
}
.dropdown-menu-user{
    left: -5rem;
}
.h-300{
    height: 300px;
}
