@font-face {
    font-family: "Mirza-Medium";
    src: url(../fonts/Mirza-Bold.ttf) format("truetype"), url(../fonts/Mirza-Medium.ttf) format("truetype"), url(../fonts/Mirza-Regular.ttf) format("truetype"), url(../fonts/Mirza-SemiBold.ttf) format("truetype");
}

@font-face {
    font-family: "CinzelDecorative-Bold";
    src: url(../fonts/CinzelDecorative-Bold.ttf) format("truetype");
}


/* GLOBAL */

body {
    font-family: "Mirza-Medium";
    top: 0;
    left: 0;
    right: 0;
    /* min-width: 100vw;
    max-width: 100%; */
}

/* .contentOfPage> :nth-child(1) {
    margin-top: 300px;
} */


/* .contentOfPage{
    background-color: rgb(29, 33, 46);
    color           : white;
} */

h1 {
    padding: 1rem 0 1rem 0;
    font-size: 2rem;
    margin: 0;
}

.arrownDown {
    position: relative;
    fill: #e5b000;
    height: 50px;
    width: auto;
    margin-top: -140px;
}

.allContent{
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    max-width: 700px;
}

/* PAGES */

.homePage {
    position: static;
    bottom: 0;
    left: 0;
    background: url("../assets/img/BG/BGhomePage.jpg") center center fixed no-repeat;
    background-size: cover;
    min-height: 100vh;
    max-height: 100%;
    display: flex;
    flex-direction: column;
}

.discoverUnivers {
    position: static;
    bottom: 0;
    left: 0;
    background: url("../assets/img/BG/BGlogRegisPage-min.jpg") center center fixed no-repeat;
    background-size: cover;
    min-height: 100vh;
    max-height: 100%;
    display: flex;
    flex-direction: column;
}

.titlesHomepage {
    margin: 100px auto auto auto;
    color: #e5b000;
    font-size: 30px;
    font-family: "CinzelDecorative-Bold";
    background-color: rgba(0, 0, 0, 0.719);
    padding: 20px;
    border: #e5b000 double 3px;
}

.discoverUnivers_content {
    margin: 100px auto 150px auto;
    background-color: rgba(0, 0, 0, 0.719);
    /* min-width: 99vw; */
    width: 1000px;
    left: 0;
    right: 0;
    color: white;
    padding: 20px;
    border: #e5b000 double 3px;
    text-align: center;
}

.joinUs {
    position: static;
    bottom: 0;
    left: 0;
    background: url("../assets/img/BG/BGassoPage.jpg") center center fixed no-repeat;
    background-size: cover;
    min-height: 100vh;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.joinUs_content {
    margin: 50px auto auto auto;
    background-color: rgba(0, 0, 0, 0.719);
    /* min-width: 99vw; */
    width: 600px;
    left: 0;
    right: 0;
    color: white;
    padding: 20px;
    border: #e5b000 double 3px;
    text-align: center;
}

.assoPage {
    position: static;
    bottom: 0;
    left: 0;
    background: url("../assets/img/BG/BGassoPage.jpg") center center fixed no-repeat;
    background-size: cover;
    min-height: 100vh;
    max-height: 100%;
    display: flex;
    flex-direction: column;
}

.assoPage>.container {
    margin-top: 82.5vh;
    background-color: rgba(0, 0, 0, 0.719);
    /* min-width: 99vw; */
    max-width: 100vw;
    left: 0;
    right: 0;
    color: white;
    padding: 0;
}

.assoPage>.container>.content {
    padding: 50px 180px 0 180px;
}

.updateProfilPage {
    display: flex;
    flex-direction: column;
    /* margin: auto; */
    max-width: 800px;
    margin-top: 50px;
}

.splitScreen {
    width: 100%;
    height: 10px;
    background: #e5b000;
    /* border: black double 5px; */
}

.loginPage,
.registerPage {
    position: static;
    bottom: 0;
    left: 0;
    background: url("../assets/img/BG/BGlogRegisPage-min.jpg") center center fixed no-repeat;
    background-size: cover;
    min-height: 100vh;
    max-height: 100%;
    display: flex;
    flex-direction: column;
}

.homeTitle {
    background-color: rgba(0, 0, 0, 0.658);
    margin: 18em auto auto auto;
    border-top: 2px solid #e5b000;
    border-bottom: 2px solid #e5b000;
    min-width: 100%;
    text-align: center;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "CinzelDecorative-Bold";
    margin-bottom: 200px;
}

.pageTitle {
    background-color: rgba(0, 0, 0, 0.829);
    margin: auto;
    border-top: 2px solid #e5b000;
    border-bottom: 2px solid #e5b000;
    color: #e5b000;
    /* max-width: 100vw; */
    /* max-width: 100%; */
    text-align: center;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "CinzelDecorative-Bold";
}

.PageTitle-mt{
    margin-top: 124px;
}

.pageProfilContent {
    display: flex;
    flex-direction: column;
}

.photoProfil_Update {
    /* padding-left: 20px; */
}

.pad20 {
    padding: 20px;
}

.loginPageContent {
    max-width: 400px;
    margin: 50px auto auto auto;
}

.registerPageContent {
    max-width: 500px;
    margin: auto auto auto auto;
    background: white;
    padding: 20px;
}

.formLogin {
    padding: 20px;
}


/* NAVBAR */

.navbar,
a,
.dropdown-menu .dropdown-item,
div.dropdown-menu.show,
.navbar-brand {
    color: #e5b000;
}

a:hover,
.dropdown-menu .dropdown-item:hover {
    color: #ffd138;
    text-decoration: none;
}

a.text-muted {
    font-size: 1rem;
    background-color: #ffffff;
}

.navbar {
    background-color: transparent;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-width: 100vw;
    max-width: 100%;
    text-align: center;
    font-family: "CinzelDecorative-Bold";
    z-index: 10;
    top: 0;
}

.navbar>a,
.navbar>.dropdown>a,
.navbar>nav>a {
    font-size: 15px;
}

.navbar.scrolled {
    background-color: rgb(0, 0, 0) !important;
    transition: background-color 1000ms ease;
}

.dropdown-menu {
    background-color: black;
    border: #e5b000 solid 2px;
}

.dropdown-menu>.dropdown-item,
.dropdown-menu>.navbar-brand,
.dropdown-menu>form>* {
    font-size: 15px;
}



.navbar-brand {
    padding-left: 1rem !important;
}

.navbar-brand:hover {
    color: #f5f7fa;
}

.dropdown-toggle:hover {
    color: #f5f7fa;
}

.dropdown-divider {
    border: 1px solid #e5b000 !important;

}

.dropdown-menu>.dropdown-item:hover {
    background-color: black;
    color: white;
}

.navbarContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}


/*
.logoSection{
    background-color: black;
    border-radius   : 1000px;
    height          : 110px;
    display         : flex;
    width           : 90px;
    height          : 90px;
} */

.img_profile_user {
    margin-left: -9px;
}


/* HEADER and FOOTER */

.modal-header,
.modal-footer {
    border: transparent;
}

footer {
    position: fixed;
    background-color: #050505;
    color: #e5b000;
    padding: 1rem 0 1rem 0;
    bottom: 0;
    width: 100%;
}

header {
    position: relative;
}


/* FORM */


.btn-login {
    background-color: #050505 !important;
    color: #e5b000 !important;
}

.bg-gray-100 {
    --bg-opacity: 0;
}

.bg-black {
    background: black;
}

.img_profile_user {
    border-radius: 50%;
}

.dropdown-menu-user {
    left: -5rem;
}

.h-300 {
    height: 300px;
}

.formAdmin{
    margin: 150px auto;
    border: #fdc200 double 10px;
    max-width: 700px;
    padding: 20px;
}

.formAdmin > *{
    display: flex;
    flex-direction: column;
    margin: auto;
}

.formSection{
    display: flex;
    flex-direction: column;
    margin: 20px ;
    text-align: left;
}


/* CARDS */

.card-img,
.card-img-top,
.card-img-bottom {
    width: 65%;
    /* min-height: 50px; */
    align-self: center;
}

.card {
    margin: 15px;
    background-color: black;
    max-width: 300px;
}

.membersCard {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.btnPrimary {
    background-color: #e5b000;
    color: #ffffff;
    padding: 10px;
    cursor: pointer;
}

.btnPrimary:hover {
    background-color: #ffd138;
    color: black;
}

.btnTransp {
    background-color: transparent !important;
    color: #e5b000;
}

.btnTransp {
    color: white;
}

.btnDore {
    background-color: transparent !important;
    border: 2px solid #e5b000;
    border-radius: 50px;
}

.marTop40 {
    margin-top: 40px;
}

.marRight40 {
    margin-left: -40px;
}

.flexCol {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.flexRow-center {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
}

.flexRow {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.redAstx {
    color: red;
}

button {
    text-decoration: none;
    border: none;
}

.titleCenter {
    text-align: center;
    margin: 20px auto 20px auto;
}

.allCaracters {
    display: flex;
    flex-direction: column;
}

.cardCaract {
    max-width: 1000px;
    margin: 50px auto auto auto;
    display: flex;
    flex-direction: column;
    background: rgb(255, 255, 255);
    background: linear-gradient( 208deg, rgba(255, 255, 255, 1) 0%, rgb(158, 158, 158) 100%);
    color: black;
    padding: 20px;
    box-shadow: 19px 17px 50px -15px rgba(0, 0, 0, 0.58);
    -webkit-box-shadow: 19px 17px 50px -15px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: 19px 17px 50px -15px rgba(0, 0, 0, 0.58);
    border-radius: 10px;
}

.cardCaract-content {
    display: flex;
    flex-direction: row;
}

.cardCaract-photo>img {
    max-width: 200px;
    height: 100%;
}

.cardCaract-body {
    display: flex;
    flex-direction: column;
    background: transparent;
    color: black;
    padding: 10px;
}

.cardCaract-body>p {
    margin-top: 20px;
}

.cardCaract-btn {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.icon {
    width: 25px;
}

.cardCaract-photo {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.cardCaract-carac {
    display: flex;
    flex-direction: row;
}

.traits {
    height: 15px;
    width: 1px;
    background: black;
    margin: auto;
}


/* MENU WIKI */

.nav-flyout>li>a {
    text-decoration: none;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.nav-flyout>li a:hover {
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    transition: all 0.6s ease;
}


/* -------------
  Sidebar
  ----------------*/

.sidebar {
    position: absolute;
    width: 17em;
    height: 100%;
    max-height: 75%;
    top: 0;
    overflow: hidden;
    background-color: #19222a;
    -webkit-transform: translateZ(0);
    visibility: visible;
    -webkit-backface-visibility: hidden;
    margin-top: 200px;
}

.sidebar header {
    background-color: #e5b000;
    width: 100%;
    display: block;
    padding: 0.75em 1em;
}


/* -------------
  Sidebar Nav
  ----------------*/

.sidebar-nav {
    position: fixed;
    background-color: #19222a;
    height: 100%;
    font-weight: 400;
    font-size: 1.4em;
    overflow: auto;
    padding-bottom: 6em;
    z-index: 9;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}

.sidebar-nav ul {
    list-style: none;
    display: block;
    padding: 0;
    margin: 0;
}

.sidebar-nav ul li {
    margin-left: 0;
    padding-left: 0;
    display: inline-block;
    width: 100%;
    /* -------------
    Sidebar: icons
    ----------------*/
}

.sidebar-nav ul li a {
    color: rgba(255, 255, 255, 0.9);
    font-size: 0.75em;
    padding: 1.05em 1em;
    position: relative;
    display: block;
}

.sidebar-nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.9);
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.sidebar-nav ul li img {
    font-size: 1.8em;
    padding-right: 0.5em;
    width: 45px;
    display: inline;
    vertical-align: middle;
}

.sidebar-nav>ul>li>a:after {
    font-size: 0.5em;
    width: 10px;
    color: #fff;
    position: absolute;
    right: 0.75em;
    top: 45%;
}

.sidebar-nav .nav-flyout {
    position: absolute;
    background-color: #080d11;
    z-index: 9;
    left: 2.5em;
    top: 0;
    height: 100vh;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.sidebar-nav .nav-flyout a:hover {
    background-color: rgba(255, 255, 255, 0.082);
}

.sidebar-nav ul>li:hover .nav-flyout {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color: #242424;
}


/* CARD FACTIONS */

*,
*:before,
*:after {
    box-sizing: border-box;
}


/*
.post__header {
    margin-top   : 0;
    margin-bottom: 0.25em;
    font-size    : 4em;
    font-weight  : 900;
    line-height  : 0.9;
  } */


/* p {
    margin: 0;
    color : #a9b1b3;
  }

  a {
    padding        : 0.5em 1em;
    font-size      : 0.8em;
    color          : #a9b1b3;
    text-decoration: none;
    text-transform : uppercase;
    letter-spacing : 0.3em;
    border         : 1px solid #a9b1b3;
    transition     : all 0.3s ease-in;
  }
  a:hover, a:active, a:focus {
    color           : #fff;
    background-color: #a9b1b3;
  } */

figure {
    margin: 0;
}


/**
   * Text Selection
   */

::-moz-selection {
    color: #fff;
    background-color: #d0f2ee;
    text-shadow: none;
}

::selection {
    color: #fff;
    background-color: #d0f2ee;
    text-shadow: none;
}


/**
   * Body
   */

@media (min-width: 20em) {
    body {
        font-size: 102.5%;
    }
}

@media (min-width: 30em) {
    body {
        font-size: 105%;
    }
}

@media (min-width: 54em) {
    body {
        font-size: 107.5%;
    }
}

@media (min-width: 64em) {
    body {
        font-size: 110%;
    }
}

@media (min-width: 76.5em) {
    body {
        font-size: 115%;
    }
}

@media (min-width: 114em) {
    body {
        font-size: 125%;
    }
}


/**
   * Components
   */

.post {
    min-height: 70vh;
    width: 100%;
    border: 0.5em solid #fff;
}

@media (min-width: 54em) {
    .post {
        display: flex;
        height: 70vh;
        min-height: 40em;
    }
}

.post>*:first-child {
    position: relative;
    height: 14em;
    background-color: #000;
}

@media (min-width: 30em) {
    .post>*:first-child {
        height: 18em;
    }
}

@media (min-width: 54em) {
    .post>*:first-child {
        flex-basis: 30%;
        max-width: 30%;
        height: auto;
    }
}

@media (min-width: 76.5em) {
    .post>*:first-child {
        flex-basis: 30%;
        max-width: 30%;
    }
}

@media (min-width: 54em) {
    .post>*:last-child {
        flex-basis: 70%;
        max-width: 70%;
    }
}

@media (min-width: 76.5em) {
    .post>*:last-child {
        flex-basis: 70%;
        max-width: 70%;
    }
}

.post__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em;
    overflow-y: auto;
}

.post__category {
    position: relative;
    font-weight: 600;
    font-size: 0.9em;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    overflow: hidden;
}

.post__category:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 3em;
    background-color: #000;
    -webkit-animation: slide-in 1s ease-in both 0.5s;
    animation: slide-in 1s ease-in both 0.5s;
}

.post__time {
    display: inline-block;
    margin-bottom: 0.5em;
    font-weight: 600;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.post__header {
    margin-top: 150px;
    padding-left: 15px;
    overflow: hidden;
}

.post__header {
    display: inline-block;
    -webkit-animation: slide-up 0.8s ease-in-out both;
    animation: slide-up 0.8s ease-in-out both;
}

.post__header {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.post__text {
    font-weight: 300;
    -webkit-animation: fade-in 0.8s ease-in-out both 0.5s;
    animation: fade-in 0.8s ease-in-out both 0.5s;
}

.post__link {
    text-align: right;
}


/**
   * Helpers
   */

.absolute-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    -webkit-animation: fade-in 0.8s ease-in-out both 1s;
    animation: fade-in 0.8s ease-in-out both 1s;
}


/**
   * Animations
   */

@-webkit-keyframes slide-in {
    0% {
        transform: translate3d(-100%, 0, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slide-in {
    0% {
        transform: translate3d(-100%, 0, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes slide-up {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    90% {
        opacity: 1;
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    90% {
        opacity: 1;
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* ////////////*/


/* Factions inside menu */


/* ////////////*/


/* #wrapper {
    display        : flex;
    justify-content: center;
    align-items    : center;
    width          : 100%;
  } */


/* .content {
    max-width : 600px;
    width     : 100%;
    min-width : 260px;
    margin    : 0 5%;
    margin-top: 10%;
    transition: 0.3s ease;
  } */

@media screen and (max-width: 512px) {
    .content {
        margin: 0 4%;
        margin-top: 5%;
    }
}


/* Tabs menu */

.tabs {
    margin: 0;
    margin-top: -150px;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    border-radius: 2px 2px 0px 0px;
    position: absolute;
}

@media screen and (max-width: 512px) {
    .tabs {
        height: 40px;
    }
}


/* Tab Links */

.tablink {
    background: transparent;
    background-image: linear-gradient( 90deg, transparent 70%, rgba(255, 255, 255, 0.2) 100%);
    border: none;
    outline: none;
    cursor: pointer;
    width: 25%;
    /*change depending on the number of tabs*/
    height: 80px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    overflow: hidden;
    transition: 0.3s ease;
}

@media screen and (max-width: 512px) {
    .tablink {
        height: 40px;
        font-size: 12px;
    }
}

.tablink:before {
    background-image: linear-gradient(135deg, #fdc200 0%, #e5b000 100%);
    content: "";
    width: 100%;
    height: 0px;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.3s ease-in-out;
    z-index: 2;
}


/*tab buttons hover*/

.tablink:hover::before {
    height: 100%;
    z-index: 2;
    bottom: 0;
}

@media screen and (max-width: 512px) {
    .tablink:hover::before {
        height: 0;
    }
}


/* Tab active */

.tablink.active {
    background-color: white;
    z-index: 0;
    border-right: 0px;
    border-left: 0px;
    /* height: 110px; */
    bottom: 0px;
    overflow: hidden;
    border: 1px solid #e5b000;
}

@media screen and (max-width: 512px) {
    .tablink.active {
        height: 60px;
    }
}

.tablink.active:before {
    content: "";
    width: 100%;
    height: 5px;
    top: 0;
    left: 0;
}


/* Tabs text */

.tablink.active p,
.tablink.active:hover p {
    opacity: 1;
    background: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tablink p {
    opacity: 0.6;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    transition: 0.5s ease;
    padding: 0;
    margin: 0;
    color: #686868;
    backface-visibility: hidden;
    font-weight: 400;
}

.tablink:hover p {
    color: white;
    opacity: 1;
}

@media screen and (max-width: 512px) {
    .tablink:hover p {
        color: #686868;
        opacity: 0.6;
    }
}


/* Tabs text bigger */

.tablink p:before {
    content: attr(data-title);
    position: absolute;
    height: auto;
    width: auto;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.1;
    font-size: 40px;
    transition: 1s ease-out;
    z-index: -1;
    font-weight: 600;
    top: 100%;
}

@media screen and (max-width: 512px) {
    .tablink p:before {
        display: none;
    }
}


/* tab content */


/* .wrapper_tabcontent {
    background-color: white;
    margin-top      : 0px;
    z-index         : -3;
    position        : relative;
    opacity         : 1;
    padding         : 40px 60px;
    overflow        : hidden;
    transition      : all 1s ease;
    top             : 0;
  } */

.tabcontent {
    display: none;
    min-height: 180px;
    margin-top: 30px;
}

@keyframes tabEffect {
    from {
        top: -40px;
    }
    to {
        top: 0px;
    }
}

.tabcontent.active {
    transition: all 1s ease;
    display: block;
}


/* Tab content line */


/* .wrapper_tabcontent:after {
    content         : "";
    height          : 5px;
    width           : 100%;
    position        : absolute;
    background-image: linear-gradient(135deg, #e5b000 0%, #fff7dd 100%);
    left            : 0;
    bottom          : 0;
    z-index         : -2;
    transition      : all 1s ease;
  } */


/* Title */


/* .tabcontent h3 {
    font-size              : 40px;
    top                    : 75px;
    transform              : rotate(90deg);
    position               : absolute;
    left                   : -90px;
    opacity                : 0.1;
    width                  : 200px;
    height                 : 60px;
    background             : -webkit-linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding                : 0;
    animation              : city 1s ease;
  } */

@media screen and (max-width: 512px) {
    .tabcontent h3 {
        top: 65px;
    }
}


/* Text*/

.tabcontent p {
    margin: 0;
    padding: 0;
    line-height: 28px;
    font-weight: 100;
    transition: all 1s ease;
    animation: fadeEffect 0.6s ease;
    width: 100%;
    font-size: 16px;
}

@media screen and (max-width: 512px) {
    .tabcontent p {
        font-size: 14px;
        line-height: 26px;
    }
}

@keyframes fadeEffect {
    from {
        opacity: 0;
        margin-left: 30px;
    }
    to {
        opacity: 1;
        margin-left: 0;
    }
}

a: focus {
    outline: 0;
}

.eventContainer {
    background: rgb(41, 41, 41);
    color: white;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 50px auto 50px auto;
}

.eventDetail {
    display: flex;
    flex-direction: row;
}

.eventDates {
    background: #e5b000;
    margin-left: -15px;
    margin-top: -15px;
    max-height: 75px;
    width: 100px;
    padding: 5px;
    text-align: center;
}

.eventTitle {
    font-family: "CinzelDecorative-Bold";
    text-align: center;
    border: 3px double #e5b000;
    padding: 10px;
    font-size: 30px;
}

.eventContent {
    margin: auto;
    margin-right: 0;
    padding: 10px;
}

.eventDescription {
    margin: 20px;
}

.eventPriceSection {
    padding: 10px;
    margin: auto;
    text-align: right;
}

.eventPrice {
    margin: 20px;
}
